.widget {
	background: #e6e6e6;
	height: 100vh;
	display: grid;
	font-family: Inter;
	place-content: center;
}
select {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	background: #fff;
	overflow: hidden;
	width: 300px;
	border-radius: 12px;
	ul {
		display: flex;
		padding: 8px;
		flex-direction: column;
		border-top: 1px solid #e2e2e2;
		li {
			height: 28px;
			padding: 6px 12px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 12px;
			transition: 0.2s ease;
			cursor: pointer;
			&.active {
				background: #f2f2f2;
			}
			&:hover {
				background: #fafafa;
			}
			span {
				display: flex;
				align-items: center;
				gap: 8px;
				color: #0e0e0e;
				font-weight: 500;
				svg {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
}
 
