span.body {
  min-width: 90%px;
}
.side-calendar {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
  font-family: Montserrat;

}

.side-calendar .flex {
  flex-direction: row;
}
.calendar-entry {
  padding: 0.5rem;
  text-align: center;
}

@media (max-width: 480px) {
  .calendar-entry {
    font-size: 0.65rem;
    padding: 0.25rem;
    font-family: 'Montserrat';
  }

  .montserrat {
    font-size: 0.75rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .calendar-entry {
    font-size: 0.75rem;
    padding: 0.35rem;
    font-family: 'Montserrat';
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .calendar-entry {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .montserrat {
    font-size: 1rem;

  }
}

@media (min-width: 1025px) {
  .calendar-entry {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .montserrat {
    font-size: 1.25rem;
  }
}